.cards {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    margin: 30px;
    font-family: Helvetica, Arial, sans-serif;
    height: 100px;
    align-items: center;
}

button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #333;
    border-color: #333;
    margin-right: 30px;  
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #999;
}

img.loading {
    height: 100px;
}